/* yellow : #ffca28*/

.selectedAnalysis{
  background-color: #169688!important;
  color: white!important;
}

.errorMessage{
  color: red;
}

.switch{
  margin: 20px 0px;
}

.switchAnalizar{
  border: 1px solid #169688;
  padding: 7px 10px;
  background-color: white;
  color: #169688;
}

#twitterSelect{
  margin-right: 0px;
  border-radius: 3px 0px 0px 3px;
}

#ensayoSelect{
  margin-left: -5px;
  border-radius: 0px 3px 3px 0px;
}
