/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*amarillo: #ffca28*/

html {
  font-size: 14px;
}

.container2 {
  margin: 0 auto;
  max-width: 1280px;
  width: 92%;
}

.message{
  font-size: 0.9em;
  border: 2px solid #e0bc42;
  padding: 15px;
  margin: 0px 0px 25px 0px;
  background-color: #f5d93f66;
  color: #cfa515;
  border-radius: 3px;
}

/*modificar tamaño de letra de la descripcion*/
#insightsDescription p{
  font-size: 0.95em;
  margin: 2px;
}

/*cambiar estilo de los selects*/
.select-wrapper .caret{
  top: 25%!important;
}

.select-wrapper {
  /*width: 200px!important;*/
}

.select-dropdown{
  font-size: 0.9em!important;
}

.containerIdioma{
  width: 30%;
  margin: 25px auto 0px auto;
}

.containerIdioma h6{
  text-align: center;
}


/*NAV BAR ********************************/
nav ul li a{
  font-size:16px;
}

nav ul li a i{
  margin-right: 3px !important;
}

nav ul li a:hover {
  text-decoration: none;
  color: #cfd8dc;
  cursor: pointer;
}

/***************Titulo de index.html***************/
.titulo{
  background-color: #60409c;
  padding: 15px;
}

/**Titulos para secciones necesidades y valores*/
.titulo2{
  background-color: #60409c;
  padding: 40px;
  color: white;/*#cfd8dc;*/
  text-align: center;
  font-size: 2em;
}

.contenedorTitulo .inferior{
  background-color: /*#ffca28;*/ #64628d;
  height: 20px;

}

.contenedorTitulo{
  margin-bottom: 30px;
    box-shadow: 1px 1px 3px/*<- blur*/ #7c7a9e /*color*/;
}


/*Botones nav bar*/
.btn.focus, .btn:focus, .btn:hover{
  color: #cfd8dc!important;
}

/***TEXT AREA PARA SUBIR EL ENSAYO****/
#textarea2{
  height: 250px;
  outline: none;
  border-bottom: 4px solid purple;
  border-top: 4px solid purple;
  border-right: none;
  border-left: none;
  resize: none;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-transition-duration: 0.4s;
}

textarea::-webkit-input-placeholder {
color: #7d868e;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #7d868e;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #7d868e;
}

textarea:-ms-input-placeholder {
color: #7d868e;
}

/* COMO esta integrado bootstrap y materialize salen dos flechas en el select, lo sig es para que solo salga la flecha de materialize. Lo mejor seria quitar bootstrap y adaptar los estilos para que se vean bien con solo materialize*/
.caret {
  border-color: transparent !important;
}

/****ESTILOS DIALOG PARA ANALIZAR POR TWITTER */
.ui-dialog-titlebar{
  background-color: #49187e !important;
  color: white !important;
}

.ui-widget-header{
  background-image: none!important;
}

/*para cambiar el estilo del close icon del dialog de twitter*/
button.ui-button-icon-only.ui-dialog-titlebar-close{
  background-image: url(../img/close-icon-large.png)!important;
  background-size: 20px 20px;
  background-position: center;
  background-color: #49187e;
  border: 1px solid #49187e;
}

.nota{
  font-size: 12px;
}

/*para cambiar el estilo del close icon del dialog*/
span.ui-button-icon.ui-icon.ui-icon-closethick{
  background-image:  none;
}

ul.dropdown-content.select-dropdown li span {
    color: black; /* no need for !important :) */
    font-size: 1em;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
}

.dialogTwitter{
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#twitterButton{
    vertical-align: center;
  }

#botonesTwitter{
  margin-top: 35px!important;
  width: 70%;
  margin: 5px auto 5px auto;
  text-align: center;
}

/*Rayita abajo de descripcion*/
#headerDescripcion{
  border-bottom: 2px solid #f8e300;
  padding-bottom: 2px;
}
/*******************************/

/****Responsivesness Detalles Collapsible**/
@media only screen and (min-width: 850px) {
    /* For desktop: */
    .detalles{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      max-width: 670px; /*para que no se vea tan grande la imagen*/
    }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
     /*For tablets:*/
    .detalles{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      max-width: 670px;
    }
}

@media only screen and (max-width: 600px) {
  .detalles{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 670px;
  }
}

.detalles ul li div img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.collapsible-body img{
  object-fit: scale-down;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*CONTENEDORES para las graficas*/
#myChart {
    padding-bottom: 25px;
}

#myChart_2 {
    padding-right: 25px;
}

#container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#container2 {
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#container3 {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}

#container4 {
    min-width: 310px;
    max-width: 750px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#container5 {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
